<h1 id='title'>
  <a href='/'>TS Weather Forcaster</a>
</h1>
<p>
  Please enter any of the following:
  <ul>
    <li> an address </li>
    <li> city </li>
    <li> city & state </li>
    <li> city & country </li>
  </ul>
  ...to get the current & extended weather forecasts for that location.
</p>
<p>
  <form id='weather_request_form'>
    <input type='text' id='address' name='address' value="<%= params[:address] %>" params placeholder='Address, City/Country, or Zip Code' />
    <input type='submit' id='form_button' value='Get Weather' />
  </form>
</p>
<% if @error %>
  <%= render 'error' %>
<% elsif @forecast %>
  <%= render 'forecast' %>
<% end %>