<h1>TS Weather Forcaster</h1>
<p>
  Welcome to the TS Weather Forcaster.  
  <br>
  Please enter a zip code to get the current weather.
</p>
<p>
  <form id='weather_request_form'>
    <input type='text' id='address' name='address' placeholder='Address, City/Country, or Zip Code' />
    <input type='submit' id='form_button' value='Get Weather' />
  </form>
</p>